<%- include('partials/header') %>

<!-- main here -->
<main>
    <section class="item-details">
        <div class="item-container">
            <div class="item-image">
                <img src="<%= item.image %>" alt="Item-image">
            </div>
            <div class="item-description">
                 <div class="item-info">
                   <div class="item-name">
                    <h1><%= item.name %></h1>
                    <p>Listed by <%= item.sellerName %></p>
                   </div>
                   <div class="item-like">
                     <a href="#"><i class="fa-solid fa-heart"></i></a>
                   </div>
                 </div>
                 <div class="item-about">
                    <h3>About This Item</h3>
                    <p><%= item.description %></p>
                 </div>
                 <div class="item-bid">
                    <div class="current-bid">
                        <p>Current Bid</p>
                        <h1>$<%= item.currentBid %></h1>
                    </div>
                    <div class="item-time">
                        <p class="item-remTime" data-endtime="<%= item.timeRemaining %>">Auction Ends In: <span id="timeRemainingDisplay"></span></p>
                    </div>
                 </div>
                 <div class="item-bid-button">
                    <a id="item-place-bid" href="/place-bid/<%= item._id %>">Place Bid</a>
                 </div>
                 <div class="item-resent-bid">
                    <h2>Recent Bids</h2>
                    <div class="item-bid-record">
                        <ul>
                            <% if (item.recentBids && item.recentBids.length > 0 ) { %>
                            <% item.recentBids.forEach(bid => { %>
                                <li>
                                    <div class="bidder-name">
                                        <p><%= bid.bidderName %></p>
                                    </div>
                                    <div class="bid-record">
                                        <p id="bid-amount">$<%= bid.amount %></p>
                                        <p id="bid-time"><%= bid.time %></p>
                                    </div>
                                </li>
                            <% }) %>
                            <% } else { %>
                                <p>No Resent Bids to display.</p>
                            <% } %>
                        </ul>
                    </div>
                 </div>
            </div>
        </div>
    </section>
</main>


<%- include('partials/footer') %>