<%- include('./partials/header') %>

<main>
    <section class="live-auction-section">
        <% if (messages.error && messages.error.length) { %>
            <div class="alert alert-danger flash-message"><%= messages.error[0] %></div>
        <% } %>
        <div class="live-auction-container">
            <div class="live-auction-filter">
                <form action="/live/auction" method="get" >
                    <select name="categories" id="filter-categories">
                        <option value="" <%= !selectedFilters?.categories ? 'selected' : '' %>>All Categories</option>
                        <option value="Watches" <%= selectedFilters?.categories === 'Watches' ? 'selected' : '' %>>Watches</option>
                        <option value="Art" <%= selectedFilters?.categories === 'Art' ? 'selected' : '' %>>Art</option>
                        <option value="Antiques" <%= selectedFilters?.categories === 'Antiques' ? 'selected' : '' %>>Antiques</option>
                    </select>
    
                    <select name="priceRange" id="price-range">
                        <option value="" <%= !selectedFilters?.priceRange ? 'selected' : '' %>>Price Range</option>
                        <option value="Under 2000" <%= selectedFilters?.priceRange === 'Under 2000' ? 'selected' : '' %>>Under 2000</option>
                        <option value="2000 - 5000" <%= selectedFilters?.priceRange === '2000 - 5000' ? 'selected' : '' %>>2000 - 5000</option>
                        <option value="5000 - 10000" <%= selectedFilters?.priceRange === '5000 - 10000' ? 'selected' : '' %>>5000 - 10000</option>
                    </select>
    
                    <select name="statuses" id="All-Statuses">
                        <option value="" <%= !selectedFilters?.statuses ? 'selected' : '' %>>All Statuses</option>
                        <option value="Live Now" <%= selectedFilters?.statuses === 'Live Now' ? 'selected' : '' %>>Live Now</option>
                        <option value="Upcomming" <%= selectedFilters?.statuses === 'Upcomming' ? 'selected' : '' %>>Upcomming</option>
                        <option value="Ended" <%= selectedFilters?.statuses === 'Ended' ? 'selected' : '' %>>Ended</option>
                    </select>
                    <button type="submit">Apply</button>
                </form>
            </div>

            <div class="filter-item-grid">
                <% if(items && items.length > 0) { %>
                <% items.forEach(item => { %>
                    <div class="filter-item">
                        <div class="filter-item-image">
                            <img src="<%= item.image %>" alt="<%= item.name %>">
                        </div>
                
                        <a href=<%=`/live/auction/item/${item._id}`%>>
                            <div class="filter-item-content">
                                <div class="filter-item-title">
                                    <h2><%= item.name %></h2>
                                </div>
                                <div class="filter-item-price">
                                    <p>Current Bid: <%= item.currentBid %></p>
                                </div>
                                <div class="filter-item-summery">
                                    <ul class="filter-item-summery-list">
                                        <li class="item-remTime" 
                                            data-endtime="<%= item.timeRemaining %>"
                                            data-item-id="<%= item._id %>">
                                            <span id="timeRemainingDisplay"></span>
                                        </li>
                                        <li><%= item.recentBids.length %> bids</li>
                                        <li>
                                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }) %>
                <% } else { %>
                    <div class="no-items-found">
                        <p>No items found</p>
                    </div>
                <% } %>
                
            </div>
        </div>
    </section>
</main>


<%- include('./partials/footer') %>