<%- include('./partials/header') %>

<main>
    <section class="live-auction-section">
        <div class="live-auction-container">
            <div class="live-auction-filter">
                <form action="/live/auction" method="post">
                    <select name="categories" id="filter-categories">
                        <option value="">All Categories</option>
                        <option value="Watches">Watches</option>
                        <option value="Art">Art</option>
                        <option value="Antiques">Antiques</option>
                    </select>
    
                    <select name="priceRange" id="price-range">
                        <option value="">price-range</option>
                        <option value="Under 2000">Under 2000</option>
                        <option value="2000 - 5000">2000 - 5000</option>
                        <option value="5000 - 10000">5000 - 10000</option>
                    </select>
    
                    <select name="statuses" id="All-Statuses">
                        <option value="">All Statuses</option>
                        <option value="Live Now">Live Now</option>
                        <option value="Upcomming">Upcomming</option>
                        <option value="Ended">Ended</option>
                    </select>
                    <button type="submit">Apply</button>
                </form>
            </div>

            <div class="filter-item-grid">
                <% items.forEach(item => { %>
                    <div class="filter-item">
                        <div class="filter-item-image">
                            <img src="/images/auction-items/<%= item.image %>" alt="<%= item.title %>">
                        </div>
                
                        <a href="/live/auction">
                            <div class="filter-item-content">
                                <div class="filter-item-title">
                                    <h2><%= item.title %></h2>
                                </div>
                                <div class="filter-item-price">
                                    <p>Current Bid: $<%= item.currentBid %></p>
                                </div>
                                <div class="filter-item-summery">
                                    <ul class="filter-item-summery-list">
                                        <li><%= item.timeLeft %></li>
                                        <li><%= item.bids %> bids</li>
                                        <li>
                                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }) %>
                
            </div>
        </div>
    </section>
</main>


<%- include('./partials/footer') %>